
body {
    background-color: #ceabab;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.background{
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 1100px;
    background: #ceabab;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.background .left_Back{
    position: relative;
    background: rgb(25, 22, 22);
    padding: 40px;
}

.background .right_Back{
    position: relative;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid snow;
}

.profileText h2{
    color: hwb(0 100% 0%);
    font-size: 1.5em;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    line-height: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profileText h2 span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7em;
    font-weight: 500;
}

.contactInfo{
    padding-top: 50px;
}

.title{
    color: hsl(0, 18%, 71%);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #ffffff;
}

.contactInfo ul li span{
    color: hwb(279 81% 7%);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.education li{
    list-style: none;
    margin-bottom: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.education h5{
    color: #edebd9;
    font-weight: 1000;  
    font-size: 0.8em;
}

.education h4{
    color: #ffffff;
    font-weight: 800;  
    font-size: 1em;
}

.education h6{
    color: #e2d8d8;
    font-weight: 800;  
    font-size: 0.9em;
}

.interests ul{
    position: relative;
}

.interests ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.interests ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #ffffff;
}

.interests ul li span{
    color: hwb(279 81% 7%);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: black;
    font-size: 1.0em;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title2{
    color: hsl(251, 30%, 28%);
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 35px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.softskill .content{
    background-color: #29292c;
    height: 20px;
    width: 150px;
    border: 2px solid rgb(56, 52, 52);
    float: left;
    margin: 10px;
}

.softskill h7{
    color: hsl(0, 0%, 100%);
    margin-top: 50px;
    text-align: center;
    text-transform:capitalize;
    font-weight: 500;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.schedule .content{
    background-color: #ffffff;
    height: 70px;
    width: 200px;
    border: 1.5px solid black;
    float: left;
    margin: 10px;
    
}

.schedule h7{
    color: hsl(0, 0%, 0%);
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.projoct ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.projoct ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 25px;
    color: #000000;
}

.projoct ul li span{
    color: hwb(279 81% 7%);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projoct p1{
    color: hwb(0 0% 100%);
    font-size: 1.25em;
    margin-top: 5px;
    margin-left: 8px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.projoct p2{
    color: hwb(0 0% 100%);
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 15px;
    text-transform:initial;
    text-align:justify;
    font-weight: 300;
    line-height: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aboutme p{
    color: hwb(0 0% 100%);
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    text-transform:initial;
    text-align:justify;
    font-weight: 300;
    line-height: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

